<!-- <div style="background-color: rgb(250, 216, 221);"> -->
    <div style="background-image: url('../../assets/bg2.jpg');">
<app-navbar></app-navbar>
<div class="whole">
<div class="about">
    <div class="part1">
<img src="../../assets/joinedhands_1.jpeg" style="width:100%;">
    </div>
    <div class="part2">
        <h1>Joined Hands</h1>
        <h3>
            Joined Hands is a common platform to bring together everyone on a journey to beat
             Breast Cancer, including early suspects, patients, caregivers, doctors &
             paramedics,support groups and communities, governments, NGOs etc.
        </h3>
        <h3>
            It strives to create breast cancer awareness, as well as offers information,
            financial & moral support and a platform to connect through communities.
        </h3>
        <h3>
            Joined hands aims to serve as the common platform where everyone can connect
            with everyone and get all the support, information, and resources that they
            need in their fight against breast cancer.
        </h3>


    </div>




</div>
<div style="width:22%;float:right;height:67.5vh">
  <h2 style="margin-left:15%;">OUR PARTNERS</h2>
    <div>
        <img src="../../assets/elc-logo.png" width="50%" style="margin-left:15%">
    </div>
<br>
    <div>
        <img src="../../assets/redcross-logo.jpeg" width="50%" style="margin-left:15%" >
    </div>
<br>
    <div>
        <img src="../../assets/cancersociety-logo.png" width="50%" style="margin-left:15%">
    </div>
</div>
</div>

<div class="background">
<mat-grid-list cols="3" rowHeight="5:3.5">
    <mat-grid-tile>
        <mat-card class="card-opacity">
            <img src='../../assets/icons/Early Detection.jpeg' mat-card-image>
            <p style="text-align: center;font-weight: bold;">Seeking Early Help</p>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card-opacity">
            <img src='../../assets/icons/Support Community.png' mat-card-image>
            <p style="text-align: center;font-weight: bold;">Patients/Survivors Community</p>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card-opacity">
            <img src='../../assets/icons/Caregivers.png' mat-card-image>
            <p style="text-align: center;font-weight: bold;">Caregivers Community</p>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card-opacity" (click)="medicalcom()">
            <img src='../../assets/icons/Medical community.jpg' mat-card-image>
            <p style="text-align: center;font-weight: bold;">Medical Community</p>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card-opacity" (click)="supportcom()">
            <img src='../../assets/icons/Larger Support Community.png' mat-card-image>
            <p style="text-align: center;font-weight: bold;">Larger Support Community</p>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card-opacity">
        <img src='../../assets/icons/Others.jpeg' mat-card-image>
        <p style="text-align: center;font-weight: bold;">Organizations</p>
    </mat-card></mat-grid-tile>
  </mat-grid-list>
</div>
</div>
