<app-navbar></app-navbar>
<div class="background">
  <div class =align>
  <h1 class="heading">MEDICAL COMMUNITY</h1>
</div>
</div>



  <mat-grid-list cols="4" rowHeight="5:5">
      <mat-grid-tile>
          <mat-card class="card-hover" style="width:200px" >
              <img src='../../assets/news.jpg' mat-card-image width="200" height="200">
              <p style="text-align: center;font-weight: bold;">News and Resources</p>
          </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-card class="card-hover" style="width:200px" >
              <img src='../../assets/news articles.jpg' mat-card-image width="200" height="200">
              <p style="text-align: center;font-weight: bold;">Latest Research Articles</p>
          </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-card class="card-hover" style="width:200px" >
              <img src='../../assets/case study 1.jpg' mat-card-image width="200" height="200">
              <p style="text-align: center;font-weight: bold;">Case Study</p>
          </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-card class="card-hover" style="width:200px" (click)="alt()">
              <img src='../../assets/alternative.jpg' mat-card-image width="200" height="200">
              <p style="text-align: center;font-weight: bold;">Doctors of Alternate Therapy</p>
          </mat-card>
      </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="3" rowHeight="5:3.5">
      <mat-grid-tile>
          <mat-card class="card-hover" style="width:200px" >
              <img src='../../assets/events.jpg' mat-card-image width="200" height="200">
              <p style="text-align: center;font-weight: bold;">Upcoming Events</p>
          </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-card class="card-hover" style="width:200px" >
          <img src='../../assets/zoho-connect.png' mat-card-image width="200" height="200">
          <p style="text-align: center;font-weight: bold;">Medical Community Connect</p>
      </mat-card></mat-grid-tile>

      <mat-grid-tile>
          <mat-card class="card-hover" style="width:200px" >
          <img src='../../assets/jobs.jpg' mat-card-image width="200" height="200">
          <p style="text-align: center;font-weight: bold;">Featured Jobs</p>
      </mat-card></mat-grid-tile>
    </mat-grid-list>
