<app-navbar></app-navbar>


  <mat-tab-group mat-align-tabs="start" class="mat-tab">
    <mat-tab label="Resources" class="label">
<!-- <h1>RESOURCES</h1> -->
<div class="background">
<mat-grid-list cols="3" rowHeight="2:1.5">
    <mat-grid-tile>
      <mat-card style="width:300px">

      <mat-card-content>
          <div style="display: inline;">
        <div style="float:left;width:29%">
              <img style="width:100%" src='../../assets/breastcancer.org.jpeg' alt="Photo of a Shiba Inu">
        </div>
        <div style="float:right;width:70%">
          <p style="color:black;margin:0px;font-weight:bold">
         Standards for Safety and Effectiveness in Complementary Techniques</p>
         <p style="color:darkslategrey"> Although many complementary medicine techniques have been used for centuries, the availability of scientific</p>
          <button mat-raised-button  style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;height:38px;margin-left:15%;"  >
      <a href="https://www.breastcancer.org/treatment/comp_med/safety" target="_blank" style="font-weight: bold;color:white;">More</a>
      </button>
        </div>
      </div>
      </mat-card-content>

      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card style="width:300px;height:180px;">

      <mat-card-content>
          <div style="display: inline;">
        <div style="float:left;width:29%">
              <img style="width:100%" src='../../assets/breastcancer.org.jpeg' alt="Photo of a Shiba Inu">
        </div>
        <div style="float:right;width:70%">
          <p style="color:black;margin:0px;font-weight:bold">
         The Healing Benefits of Complementary Medicine</p>
         <p style="color:darkslategrey">People with breast cancer often have physical symptoms to deal with on a daily basis, such as pain,</p>
          <button mat-raised-button  style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;margin-top:8%;height:38px;margin-left:15%;"  >
      <a href="https://www.breastcancer.org/treatment/comp_med/benefits" target="_blank" style="font-weight: bold;color:white;">More</a>
      </button>
        </div>
      </div>
      </mat-card-content>

      </mat-card>


    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card style="width:300px;height:180px;">

      <mat-card-content>
          <div style="display: inline;">
        <div style="float:left;width:29%">
              <img style="width:100%" src='../../assets/hoag.jpeg' alt="Photo of a Shiba Inu">
        </div>
        <div style="float:right;width:70%">
          <p style="color:black;margin:0px;font-weight:bold">
         Holistic Approach to Breast Care</p>
         <p style="color:darkslategrey">Hoag is a pioneer in early-stage breast cancer diagnostics, state-of-the-art treatment technologies and breast conservation surgery,</p>
          <button mat-raised-button  style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;margin-top:18%;height:38px;margin-left:15%;"  >
      <a href="https://www.hoag.org/about-hoag/news-publications/hoag-for-life/spring/2019/holistic-approach-to-breast-care/" target="_blank" style="font-weight: bold;color:white;">More</a>
      </button>
        </div>
      </div>
      </mat-card-content>

      </mat-card>


    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card style="width:300px">

      <mat-card-content>
          <div style="display: inline;">
        <div style="float:left;width:29%">
              <img style="width:100%" src='../../assets/itc1.png' alt="Photo of a Shiba Inu">
        </div>
        <div style="float:right;width:70%">
          <p style="color:black;margin:0px;font-weight:bold">
         How to Treat Breast Cancer Without Surgery?</p>
         <p style="color:darkslategrey">Whether you’re researching breast cancer treatment plans for yourself, a family member, or a friend — you might initially feel like conventional options are the only way to go</p>
          <button mat-raised-button  style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;height:38px;margin-left:15%;"  >
      <a href="https://www.immunitytherapycenter.com/blog/how-to-treat-breast-cancer-without-surgery/" target="_blank" style="font-weight: bold;color:white;">More</a>
      </button>
        </div>
      </div>
      </mat-card-content>

      </mat-card>


    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card style="width:300px">

      <mat-card-content>
          <div style="display: inline;">
        <div style="float:left;width:29%">
              <img style="width:100%" src='../../assets/itc1.png' alt="Photo of a Shiba Inu">
        </div>
        <div style="float:right;width:70%">
          <p style="color:black;margin:0px;font-weight:bold">
         How to Treat Breast Cancer Without Surgery?</p>
         <p style="color:darkslategrey">Whether you’re researching breast cancer treatment plans for yourself, a family member, or a friend — you might initially feel like conventional options are the only way to go</p>
          <button mat-raised-button style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;height:38px;margin-left:15%;"  >
      <a href="https://www.immunitytherapycenter.com/blog/how-to-treat-breast-cancer-without-surgery/" target="_blank" style="font-weight: bold;color:white;">More</a>
      </button>
        </div>
      </div>
      </mat-card-content>

      </mat-card>


    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card style="width:300px">

      <mat-card-content>
          <div style="display: inline;">
        <div style="float:left;width:29%">
              <img style="width:100%" src='../../assets/itc1.png' alt="Photo of a Shiba Inu">
        </div>
        <div style="float:right;width:70%">
          <p style="color:black;margin:0px;font-weight:bold">
         How to Treat Breast Cancer Without Surgery?</p>
         <p style="color:darkslategrey">Whether you’re researching breast cancer treatment plans for yourself, a family member, or a friend — you might initially feel like conventional options are the only way to go</p>
          <button mat-raised-button  style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;height:38px;margin-left:15%;"  >
      <a href="https://www.immunitytherapycenter.com/blog/how-to-treat-breast-cancer-without-surgery/" target="_blank" style="font-weight: bold;color:white;">More</a>
      </button>
        </div>
      </div>
      </mat-card-content>

      </mat-card>


    </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-tab>
<mat-tab label="Research Articles" class="label">
    <!-- <h1>RESEARCH ARTICLES</h1> -->
    <div class="background">
    <mat-grid-list cols="3" rowHeight="2:1.5">
        <mat-grid-tile>

            <mat-card style="width:300px">

            <mat-card-content>
                <div style="display: inline;">
              <div style="float:left;width:30%">
                    <img style="width:100%" src='../../assets/intechopen.png' alt="Photo of a Shiba Inu">
              </div>
              <div style="float:right;width:70%">
                <p style="color:black;margin:0px;font-weight:bold">
               Herbal Remedies for Breast Cancer Prevention and Treatment</p>
               <p style="color:darkslategrey">Breast cancer is among the most common type of cancer in women around the globe. Prevention of breast </p>
                <button mat-raised-button  style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;height:38px;margin-left:15%;"  >
<a href="https://www.intechopen.com/books/medicinal-plants-use-in-prevention-and-treatment-of-diseases/herbal-remedies-for-breast-cancer-prevention-and-treatment" target="_blank" style="font-weight: bold;color:white;">More</a>
</button>
              </div>
            </div>
            </mat-card-content>

          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card style="width:300px;height:180px;">

          <mat-card-content>
              <div style="display: inline;">
            <div style="float:left;width:30%">
                  <img style="width:100%" src='../../assets/jama.png' alt="Photo of a Shiba Inu">
            </div>
            <div style="float:right;width:70%">
              <p style="color:black;margin:0px;font-weight:bold">
             Complementary Medicine, and Survival Among Patients With Curable Cancers</p>
             <p style="color:darkslategrey">There is limited information on the association among complementary medicine (CM), </p>
              <button mat-raised-button  style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;;margin-top:8%;height:38px;margin-left:15%;"  >
          <a href="https://jamanetwork.com/journals/jamaoncology/article-abstract/2687972" target="_blank" style="font-weight: bold;color:white;">More</a>
          </button>
            </div>
          </div>
          </mat-card-content>

          </mat-card>


        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card style="width:300px;height:180px;">

          <mat-card-content>
              <div style="display: inline;">
            <div style="float:left;width:30%">
                  <img style="width:100%" src='../../assets/cta.png' alt="Photo of a Shiba Inu">
            </div>
            <div style="float:right;width:70%">
              <p style="color:black;margin:0px;font-weight:bold">
             Use of Alternative Medicine as a Replacement for Conventional Cancer Treatment</p>
             <p style="color:darkslategrey">As the interest in and value of “natural” remedies increase, the use of complementary therapies </p>
              <button mat-raised-button  style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;;margin-top:8%;height:38px;margin-left:15%;"  >
          <a href="https://www.cancertherapyadvisor.com/home/tools/fact-sheets/cancer-alternative-medicine-replacement-conventional-treatment-fact-sheet/" target="_blank" style="font-weight: bold;color:white;">More</a>
          </button>
            </div>
          </div>
          </mat-card-content>

          </mat-card>


        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card style="width:300px;height:180px;">

          <mat-card-content>
              <div style="display: inline;">
            <div style="float:left;width:29%">
                  <img style="width:100%" src='../../assets/jnci.jpeg' alt="Photo of a Shiba Inu">
            </div>
            <div style="float:right;width:70%">
              <p style="color:black;margin:0px;font-weight:bold">
             Alternative Therapies Used by Women With Breast Cancer in Four Ethnic Populations</p>
             <p style="color:darkslategrey"> Interest in alternative therapies is growing rapidly in the United States. We studied the types </p>
              <button mat-raised-button  style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;margin-top:6%;height:38px;margin-left:15%;"  >
          <a href="https://academic.oup.com/jnci/article/92/1/42/2905777" target="_blank" style="font-weight: bold;color:white;">More</a>
          </button>
            </div>
          </div>
          </mat-card-content>

          </mat-card>


        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card style="width:300px">

          <mat-card-content>
              <div style="display: inline;">
            <div style="float:left;width:29%">
                  <img style="width:100%" src='../../assets/ncbi.png' alt="Photo of a Shiba Inu">
            </div>
            <div style="float:right;width:70%">
              <p style="color:black;margin:0px;font-weight:bold">
            Complementary and Alternative Therapy Use Before and After Breast Cancer Diagnosis: The Pathways Study</p>
             <p style="color:darkslategrey"> Many women use complementary and alternative medicine (CAM) to maintain </p>
              <button mat-raised-button  style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;height:38px;margin-left:15%;"  >
          <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2991094/" target="_blank" style="font-weight: bold;color:white;">More</a>
          </button>
            </div>
          </div>
          </mat-card-content>

          </mat-card>


        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card style="width:300px">

          <mat-card-content>
              <div style="display: inline;">
            <div style="float:left;width:29%">
                  <img style="width:100%" src='../../assets/ncbi.png' alt="Photo of a Shiba Inu">
            </div>
            <div style="float:right;width:70%">
              <p style="color:black;margin:0px;font-weight:bold">
            Complementary and Alternative Therapy Use Before and After Breast Cancer Diagnosis: The Pathways Study</p>
             <p style="color:darkslategrey"> Many women use complementary and alternative medicine (CAM) to maintain </p>
              <button mat-raised-button  style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;height:38px;margin-left:15%;margin-left:15%;"  >
          <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2991094/" target="_blank" style="font-weight: bold;color:white;">More</a>
          </button>
            </div>
          </div>
          </mat-card-content>

          </mat-card>


        </mat-grid-tile>


        </mat-grid-list>
      </div>
      </mat-tab>
      <mat-tab class="label" label="National Center for Complimentary and Integrative Health Resources">

        <!-- <h1>NATIONAL CENTER FOR COMPLEMENTARY AND INTEGRATIVE HEALTH RESOURCES</h1> -->
      <div class="background">
        <mat-grid-list cols="3" rowHeight="2:1.5">
            <mat-grid-tile>
              <mat-card style="width:300px">

              <mat-card-content>
                  <div style="display: inline;">
                <div style="float:left;width:29%">
                      <img style="width:100%" src='../../assets/nccih.jpeg' alt="Photo of a Shiba Inu">
                </div>
                <div style="float:right;width:70%">
                  <p style="color:black;margin:0px;font-weight:bold">
                 Yoga may help to lessen fatigue in breast cancer patients and survivors</p>
                 <p style="color:darkslategrey">People with cancer want to do everything they can to combat the disease, manage its symptoms, </p>
                  <button mat-raised-button  style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;height:38px;margin-left:15%;"  >
              <a href="https://www.nccih.nih.gov/health/cancer-in-depth" target="_blank" style="font-weight: bold;color:white;">More</a>
              </button>
                </div>
              </div>
              </mat-card-content>

              </mat-card>

            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card style="width:300px">

              <mat-card-content>
                  <div style="display: inline;">
                <div style="float:left;width:29%">
                      <img style="width:100%" src='../../assets/nccih.jpeg' alt="Photo of a Shiba Inu">
                </div>
                <div style="float:right;width:70%">
                  <p style="color:black;margin:0px;font-weight:bold">
                 6 Things To Know When Selecting a Complementary Health Practitioner</p>
                 <p style="color:darkslategrey">If you’re looking for a complementary health practitioner to help treat a medical problem,</p>
                  <button mat-raised-button style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;height:38px;margin-left:15%;"  >
              <a href="https://www.nccih.nih.gov/health/tips/things-to-know-when-selecting-a-complementary-health-practitioner" target="_blank" style="font-weight: bold;color:white;">More</a>
              </button>
                </div>
              </div>
              </mat-card-content>

              </mat-card>


            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card style="width:300px;height:180px;">

              <mat-card-content>
                  <div style="display: inline;">
                <div style="float:left;width:29%">
                      <img style="width:100%" src='../../assets/mediline.png' alt="Photo of a Shiba Inu">
                </div>
                <div style="float:right;width:70%">
                  <p style="color:black;margin:0px;font-weight:bold">
                 Find a Doctor</p>
                 <p style="color:darkslategrey">MedlinePlus provides links to directories to help you find libraries, health professionals, services and facilities.</p>
                  <button mat-raised-button  style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;margin-top:18%;height:38px;margin-left:15%;"  >
              <a href="https://medlineplus.gov/directories.html" target="_blank" style="font-weight: bold;color:white;">More</a>
              </button>
                </div>
              </div>
              </mat-card-content>

              </mat-card>


            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card style="width:300px">

              <mat-card-content>
                  <div style="display: inline;">
                <div style="float:left;width:29%">
                      <img style="width:100%" src='../../assets/college2.png' alt="Photo of a Shiba Inu">
                </div>
                <div style="float:right;width:70%">
                  <p style="color:black;margin:0px;font-weight:bold">
                 Exercise Guidelines for Cancer Survivors</p>
                 <p style="color:darkslategrey">Early detection and improved treatments for cancer have resulted in roughly 12 million survivors alive in the United States today. </p>
                  <button mat-raised-button  style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;height:38px;margin-left:15%;"  >
              <a href="http://journals.lww.com/acsm-msse/Fulltext/2010/07000/American_College_of_Sports_Medicine_Roundtable_on.23.aspx" target="_blank" style="font-weight: bold;color:white;">More</a>
              </button>
                </div>
              </div>
              </mat-card-content>

              </mat-card>


            </mat-grid-tile>

            <mat-grid-tile>
              <mat-card style="width:300px">

              <mat-card-content>
                  <div style="display: inline;">
                <div style="float:left;width:29%">
                      <img style="width:100%" src='../../assets/college2.png' alt="Photo of a Shiba Inu">
                </div>
                <div style="float:right;width:70%">
                  <p style="color:black;margin:0px;font-weight:bold">
                 Exercise Guidelines for Cancer Survivors</p>
                 <p style="color:darkslategrey">Early detection and improved treatments for cancer have resulted in roughly 12 million survivors alive in the United States today. </p>
                  <button mat-raised-button style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;height:38px;margin-left:15%;"  >
              <a href="http://journals.lww.com/acsm-msse/Fulltext/2010/07000/American_College_of_Sports_Medicine_Roundtable_on.23.aspx" target="_blank" style="font-weight: bold;color:white;">More</a>
              </button>
                </div>
              </div>
              </mat-card-content>

              </mat-card>


            </mat-grid-tile>

            <mat-grid-tile>
              <mat-card style="width:300px">

              <mat-card-content>
                  <div style="display: inline;">
                <div style="float:left;width:29%">
                      <img style="width:100%" src='../../assets/college2.png' alt="Photo of a Shiba Inu">
                </div>
                <div style="float:right;width:70%">
                  <p style="color:black;margin:0px;font-weight:bold">
                 Exercise Guidelines for Cancer Survivors</p>
                 <p style="color:darkslategrey">Early detection and improved treatments for cancer have resulted in roughly 12 million survivors alive in the United States today. </p>
                  <button mat-raised-button style="background-color: darkmagenta;color:white;border:1px solid black;width:80px;float:center;height:38px;margin-left:15%;"  >
              <a href="http://journals.lww.com/acsm-msse/Fulltext/2010/07000/American_College_of_Sports_Medicine_Roundtable_on.23.aspx" target="_blank" style="font-weight: bold;color:white;">More</a>
              </button>
                </div>
              </div>
              </mat-card-content>

              </mat-card>


            </mat-grid-tile>
            </mat-grid-list>
          </div>
          </mat-tab>
        </mat-tab-group>
<!-- </div> -->
